@{
    int i = 8;
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h3>Ben Kiani - 205563398 <br />
    Naveh Ohana - 205465586 <br />
    Asaf Fadida - 205589401 <br />
    Aviad Avretz - 312538747

    
    <br />
    <br />
    Check out this site @Html.ActionLink("statistics", "Graphs", "Home")</h3>


