@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"].</h2>

<address>
    <abbr title="The Id, so you can look us up on Moodle/Meidanet">Naveh Ohana's ID:</abbr>
    205465586
	<br />
	<abbr title="The Id, so you can look us up on Moodle/Meidanet">Ben Kiani's ID:</abbr>
	205563398
</address>

<address>
    <strong>Support:</strong> <a href="mailto:navehohana@gmail.com">Naveh's Email</a><br />
	<strong>Support:</strong> <a href="mailto:ben.kiani@gmail.com">Ben's Email</a><br />
</address>
